$bootstrap-sass-asset-helper: true;
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'globals';


html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	background-repeat: no-repeat !important;
	min-width: 0px;
	min-height: 0px;
}

body {
		color: $appGrey;
		margin: 0px;
		padding: 0px;
		font-family: "Segoe UI";
        line-height: 1.5;
        font-size: 14px;
		.main-content {
			margin: 30px $sideSpace;

			.header {
					font-size: 18pt;
					text-transform: capitalize;				
			}
		}
}

.top-action{
  background: #ddd;
  .customButton{
    /*background: #a2a2a2;*/
    color: #efefef;
    border: none;
    border-radius: 0;
    font-weight: bold;
  }
}

.list-group-item:first-child{
 border-radius: 0;
}