<form #recipeForm="ngForm" novalidate (ngSubmit)="onSubmit()" (keydown.enter)="keyDownFunction($event)">
    <div class="row">
        <div class="top-action clearfix">
            <button class="btn btn-warning pull-left customButton" (click)="onSave()">Save</button>
            <button class="btn btn-danger  pull-right customButton" (click)="onCancel()">Cancel</button>
        </div>
    </div>
    <div class="row recipe-general-info">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Recipe Name</label>
                <input type="text"
                       class="form-control"
                       name="name"
                       [(ngModel)]="recipe.name"
                       #name
                       required>
            </div>
            <div class="form-group">
                <label>Recipe Description</label>
                <textarea name="description"
                          cols="10"
                          class="form-control"
                          [(ngModel)]="recipe.description"
                          #description="ngModel"
                          required
                ></textarea>
            </div>
        </div>


        <div class="background col-sm-6" [ngStyle]="{'background': 'url(' + selectedRecipe?.imageUrl + ')',
                'background-position': 'center', 'background-size': 'cover'}">
            <div class="form-group">
                <label>Image Url</label>
                <input type="text"
                       class="form-control"
                       name="imageUrl"
                       #imageUrl="ngModel"
                       [(ngModel)]="recipe.imageUrl"
                       required
                       pattern="(?:([^:/?#]+):)?(?://([^/?#]*))?([^?#]*\.(?:jpe?g|gif|png))(?:\?([^#]*))?(?:#(.*))?"
                >
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 no-padding">
            <div class="top">
                Ingredients
            </div>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients;let i = index">
                    <div class="row">
                        <div class="col-xs-2">

                            <span class="item-index">{{ingredient.id}}</span>
                        </div>
                        <div class="col-xs-8">
                            <input type="text"
                                   name="name-{{i}}"
                                   [(ngModel)]="ingredient.name"
                                   #ingredientName="ngModel"
                                   required
                            >
                        </div>
                        <div>
                            <button class="btn btn-sm btn-danger">X</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 no-padding">
            <div>
                <div class="top">
                    Directions
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4">Prep: {{selectedRecipe.prepTime}} m</div>
                            <div class="col-xs-4">Cook: {{selectedRecipe.cookingTime}} m</div>
                            <div class="col-xs-4">Servings: {{selectedRecipe.servings}}</div>
                        </div>
                    </li>
                    <li class="list-group-item" *ngFor="let direction of selectedRecipe.directions">
                        <div class="row">
                            <div class="col-xs-2">
                                <span class="item-index">{{direction.id}}</span>
                            </div>
                            <div class="col-xs-10">
                                {{direction.name}}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</form>